html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}
.nav li a {
    color: #000;
}
.jumbotron {
    background-color: transparent;
}
.jumbotron h2 span {
    color: #ffc200;
}
.banner {
    color: #ffffff;
    background-color: #333;
    text-align: center;
    padding: 20px;
}
.banner h1 {
    font-size: 40px;
    line-height: 1.5em;
}
.cards {
    background-color: #ffc200;
    padding: 40px;
}
.cards h2 {
    text-align: center;
    padding: 20px 0 40px 0;
}
.cards img {
    margin-bottom: 30px;
}
.footer {
    background-color: #333;
    color: #ffffff;
    padding: 40px;
}
.footer img {
    width: 24px;
    margin-top: 10px;
    margin-right: 10px;
}
@media (max-width: 992px) {
    .col-md-4 {
        margin: 0 auto 0;
        text-align: center;
        width: 100%;
    }
    .cards img {
        width: 60%;
    }
}
@media (max-width: 500px) {
    .header h1 {
        text-align: center;
    }
    .nav li {
        text-align: center;
        width: 100%;
    }
    .nav li a {
        color: #000;
    }
    .cards img {
        width: 100%;
    }
}
